@import "variables", "mixins";

.loader-wrapper {
  padding: 0.5rem;
  z-index: 120;
}

.loader {
  @include positioning($position: absolute, $top: 50%, $left: 50%, $transform: translate(-50%, -50%));
  @include box-size($width: 5rem, $height: 5rem);
  border: 6px solid darken(rgba($brand-primary-color, 0.5), 30%);
  border-top: 6px solid darken($brand-primary-color, 10%);
  border-radius: 100%;
  animation: spin 1s infinite linear;
  margin: 0 auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
