// header svgs before link text
.icon-inline {
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.6rem;
}

// icon size classes
$icon-sizes: (
  "18": 1.8,
  "22": 2.2,
  "32": 3.2,
);

@each $iconName, $iconSize in $icon-sizes {
  .icon-#{$iconName} {
    width: #{$iconSize} + "rem";
    height: #{$iconSize} + "rem";
  }
}

.svg-icon {
  @include svg-container();
}

.svg-cover {
  mask-size: cover;
}


$icons: (
  "angle-up": "../../assets/angle-up.svg",
  "angle-down": "../../assets/angle-down.svg",
  "basket": "../../assets/basket.svg",
  "calcio": "../../assets/calcio.svg",
  "internazionali": "../../assets/internazionali.svg",
  "search": "../../assets/search.svg",
  "stats": "../../assets/stats.svg",
  "tennis": "../../assets/tennis.svg",
  "star": "../../assets/star.svg",
  "clear": "../../assets/clear.svg",
);

@each $iconName, $iconPath in $icons {
  .icon-#{$iconName} {
    -webkit-mask-image: url($iconPath);
    mask-image: url($iconPath);
  }
}
