@import "variables", "mixins";
:host {
  display: block;
  width: 13rem;
  padding: 1rem;
}

div {
  height: 5rem;
  cursor: pointer;
}

.border-light {
  border: 1px solid $light-primary;
}

.border-brand-secondary {
  border: 1px solid $brand-primary-color;
}
