@import "variables", "mixins";

.intro {
  align-items: center;
  color: $light-primary;
}

.main-list {
  border-top: 1px solid $dark-primary;
}

.card-wrapper {
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem;
}

.icon-angle-up {
	margin-left: auto;
}
