<app-overlay *ngIf="showLoading$ | async">
  <app-loader></app-loader>
</app-overlay>
<header class="subheader pda-4 flex relative">
  <div class="slider-wrapper relative w-100">
    <div class="slider bg-dark750">
      <ul
        *ngIf="(activeMarkets$ | async)?.results as activeMarkets"
        class="slide-track"
      >
        <li
          *ngFor="let activeMarket of activeMarkets; let first = first"
          class="mgx-2"
        >
          <button
            type="button"
            class="pdx-4 radius-4 h-100"
            [ngClass]="first ? 'text-dark bg-brand' : 'bg-dark-800 text-light'"
          >
            {{ activeMarket.Name }}
          </button>
        </li>
      </ul>
    </div>
  </div>
  <button
    type="button"
    class="absolute active-odds-btn bg-dark-800"
    title="Active Odd Groups Mondiali"
    (click)="showOddGroups()"
  >
    <span
      class="icon-22 bg-dark-600 icon-angle-up rotate-right inline-block"
    ></span>
  </button>
</header>
<ul *ngIf="(eventsList$ | async)?.results as eventsList">
  <li *ngFor="let item of eventsList">
    <app-expandable
      [expandableName]="item.Name"
      [headerText]="item.Name"
      [headerSubtitle]="item.NumSubevents + ''"
      [expandableWrapperClass]="'bg-dark-800'"
      [headerIcon]="item.SportName.toLowerCase()"
      [isInitiallyOpen]="true"
      [id]="item.Id"
    >
      <!-- CONTENT -->
      <ul class="main-list">
        <li *ngFor="let event of item.Subevents">
          <p class="bg-dark-800 event-date text-left pdx-2">
            {{ event.StartTimeUtc | date: "EEEE d MMMM y" }}
          </p>
          <div class="bg-dark">
            <!-- passing hardcoded endpoint (instead of id) for param -->
            <a
              [routerLink]="
                event.Id === 120718887
                  ? [
                      '/sports/' + routeParams.group,
                      routeParams.subevent,
                      matchQuotas
                    ]
                  : [
                      '/sports/' +
                        routeParams.group +
                        '/' +
                        routeParams.subevent
                    ]
              "
              class="flex pdx-2 pdt-4 intro"
            >
              <span class="icon-18 bg-dark-600 icon-stats inline-block"> </span>
              <time class="text-small text-info mgl-2">{{
                event.StartTimeUtc | date: "shortTime"
              }}</time>
              <span class="inline-block mgl-4">{{ event.Name }}</span>
              <span
                class="icon-18 bg-dark-600 icon-angle-up rotate-right inline-block"
              ></span>
            </a>
            <ng-container *ngFor="let market of event.Markets">
              <div class="card-wrapper grid">
                <app-card
                  *ngFor="let odd of market.Odds"
                  [selection]="odd.Selection"
                  [value]="odd.Value"
                ></app-card>
              </div>
            </ng-container>
          </div>
        </li>
      </ul>
    </app-expandable>
  </li>
</ul>

<ng-container *ngIf="isActiveOddGroupsShown">
  <app-active-odd-groups
    (close)="toggleisActiveOddGroupsShown()"
  ></app-active-odd-groups>
</ng-container>
