@import "variables", "mixins";

.btn-expandable {
  justify-content: space-between;
  align-items: center;
  @include box-size($width: 100%, $min-height: 4.4rem);
  letter-spacing: .3px;
  cursor: pointer;
  padding: 1.1rem;
}

.span-wrapper {
  @include alignment($justify: space-between, $align: center);
}

.num-events {
  margin-inline-end: 0.5rem;
}

span img {
  align-self: center;
}

.xl-button {
  min-height: 5.7rem;
}

.expandable-content {
  @include box-size($width: 100%);
  text-align: center;
  overflow: auto;
}


