<div class="expandable-wrapper relative w-100" [class]="expandableWrapperClass">
  <ng-container *ngIf="!isStatic">
    <div
      class="btn-expandable flex"
      role="button"
      aria-haspopup="true"
      [attr.aria-label]="
        !isOpen ? 'Open ' + expandableName : 'Close ' + expandableName
      "
      [attr.aria-expanded]="!isOpen ? false : true"
      tabindex="0"
      (click)="toggleDropdown()"
      (keyup.enter)="isOpen = true"
      (keyup.esc)="isOpen = false"
    >
      <!--<p>-->
        <span class="flex flex-center">
          <span *ngIf="headerIcon" [class]="headerIcon"></span>
          <span class="flex flex-column">
            <span>{{ headerText }}</span>
            <span *ngIf="headerSubtitle">{{ headerSubtitle }}</span>
          </span>
        </span>
      <!--</p>-->
        <span
          class="icon-18 bg-dark-600 inline-block"
          ngClass="{{ isOpen ? 'icon-angle-up' : 'icon-angle-down' }}"
        >
        </span>
    </div>
    <div
      *ngIf="isOpen"
      class="expandable-content"
      [class]="expandableContentClass"
    >
      <ng-content></ng-content>
    </div>
  </ng-container>
  <ng-container *ngIf="isStatic">
    <a [routerLink]="['/sports', 'grouplist-'+group]" class="btn-expandable flex text-light" tabindex="0">
      <span class="flex">
        <span class="inline-block mgr-2">
          <ng-container
            *ngIf="
              headerIcon === 'calcio' ||
                headerIcon === 'basket' ||
                headerIcon === 'tennis';
              else placeholder
            "
          >
            <img
              [src]="'../../../../assets/' + headerIcon + '.svg'"
              [alt]="headerIcon"
              class="icon-22"
            />
          </ng-container>
          <ng-template #placeholder>
            <span class="icon-22 bg-dark-600 icon-star inline-block"></span>
          </ng-template>
        </span>
        <span>{{ headerText }}</span>
      </span>
      <span class="flex flex-center">
        <span *ngIf="headerSubtitle" class="num-events">{{
          headerSubtitle
        }}</span>
        <span
          class="icon-18 bg-dark-600 icon-angle-up rotate-right inline-block"
        >
        </span>
      </span>
    </a>
  </ng-container>
</div>
