<app-overlay *ngIf="showLoading$ | async">
  <app-loader></app-loader>
</app-overlay>
<header class="subheader bg-dark">
<ul *ngIf="(topEvents$ | async)?.results as topEvents" class="bg-dark events-list">
  
  <li *ngFor="let evt of topEvents" class="flextext-light w-100">
      <app-expandable
        [expandableName]="evt.Name"
        [headerText]="evt.Name"
        [headerSubtitle]="evt.NumSubevents + ''"
        [expandableWrapperClass]="'bg-dark pdx-4'"
        [id]="evt.Id"
        [isStatic]="true"
      ></app-expandable>
  </li>
</ul>
</header>
<figure>
  <img src="../../../../assets/football.jpg" alt="football">
</figure>
<ng-container *ngIf="(sportsList$ | async)?.results as list">
  <ul class="bg-dark-900">
    <li *ngFor="let item of list">
      <app-expandable
        [expandableName]="item.Name"
        [headerText]="item.Name"
        [headerSubtitle]="item.NumSubevents + ''"
        [expandableWrapperClass]="'bg-dark-900'"
        [headerIcon]="item.Name.toLowerCase()"
        [id]="item.Id"
        [group]="item.Name.toLowerCase()"
        [isStatic]="true"
      ></app-expandable>
    </li>
  </ul>
</ng-container>

