<app-overlay *ngIf="showLoading$ | async">
  <app-loader></app-loader>
</app-overlay>

<ng-container *ngIf="(sportsList$ | async)?.results as list">
  <ul class="bg-dark-900">
    <li *ngFor="let item of list">
      <app-expandable
        [expandableName]="item.Name"
        [headerText]="item.Name"
        [headerSubtitle]="item.NumSubevents + ''"
        [expandableWrapperClass]="'bg-dark-900'"
        [headerIcon]="item.Name.toLowerCase()"
        [id]="item.Id"
        [group]="item.Name.toLowerCase()"
        [isStatic]="true"
      ></app-expandable>
    </li>
  </ul>
</ng-container>

<!--<app-expandable
  [expandableName]="item.group"
  [headerText]="item.group"
  [expandableContentClass]="'bg-dark850'"
  [expandableWrapperClass]="'bg-dark750'"
  [isLarge]="true"
>
  <ul class="expandable-list">
    <li *ngFor="let linkData of item.linkGroup" class="list-item">
      <a [href]="linkData.link" class="block w-100 txt-light">{{
        linkData.title
      }}</a>
    </li>
  </ul>
</app-expandable>-->
