// border-radius
$sizes: 4, 6;
@each $size in $sizes {
  .radius-#{$size} {
    border-radius: #{$size} + "px";
  }
}

.border-light {
  border: 1px solid $light-primary;
}

.border-brand-secondary {
  border: 1px solid $brand-primary-color;
}

.round-circle {
  border-radius: 50%;
}



