// Loop trough sizes map to create border-radius classes - always in px!

// border-radius
$sizes: 0, 2, 4;
@each $size in $sizes {
  .radius-#{$size} {
    border-radius: #{$size} + "px";
  }
}

/*.round-circle {
  border-radius: 50%;
}*/



