// displays & layout

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.grid {
  display: grid;
}

.grid-center {
  display: grid;
  place-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.rotate-up {
  transform: rotate(180deg);
}

.rotate-right {
  transform: rotate(90deg);
}


.rotate-left {
  transform: rotate(-90deg);
}

/* .active-link {
  border-bottom: 2px solid $brand-primary-color;
} */
